<h3>Feature Test New</h3>
<form class="form-horizontal">
  <div  class="form-group">
    <label for="formFeaturetestName" class="col-md-2 control-label">Name:</label>
    <div class="col-md-10">
      {{input type="text" class="form-control" id="formFeaturetestName" value=model.featuretest.name}}
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <button {{action 'save' model.featureId}}>Save</button>
      <button {{action 'cancel'}}>Cancel</button>
    </div>
  </div>
</form>

{{outlet}}
