<h3>Feature New</h3>
<form class="form-horizontal">
  <div class="form-group">
    <label for="formFeatureName" class="col-md-2 control-label">Name:</label>
    <div class="col-md-10">
      {{input type="text" class="form-control" id="formFeatureName" value=model.name }}
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <button id="formFeatureSave" {{action 'save'}}>Save</button>
      <button {{action 'cancel'}}>Cancel</button>
    </div>
  </div>
</form>

{{outlet}}
