<h2 id="title">
  {{link-to "Go back to features" 'features'}}
</h2>

<div class="row">
  <div class="col-md-6">
    <h1 class="test-feature-name">{{model.feature.name}}</h1>
  </div>
  <div class="col-md-6">
    <button class="btn btn-default pull-right" {{action 'create' model.feature.id}}>Create new test</button>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    {{#if model.feature.featuretests.length}}
      <table class="table table-striped table-hover table-responsive">
        <thead>
        <tr>
          <td class="col-md-2">
            <strong>Id</strong>
          </td>
          <td class="col-md-8">
            <strong>Name</strong>
          </td>
          <td class="col-md-2">
            <strong>Status</strong>
          </td>
        </tr>
        </thead>
        <tbody>
        {{#each model.feature.featuretests as |featuretest|}}
          <tr>
            <td>{{featuretest.id}}</td>
            <td>{{featuretest.name}}</td>
            <td>
              {{status-select store=store featuretest=featuretest statuses=model.statuses}}
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    {{else}}
      <h3>No feature test found !!</h3>
    {{/if}}
  </div>
</div>
{{outlet}}
