<div class="row">
  <div class="col-md-12">
    <button class="btn btn-default pull-right" {{action 'create'}} class="test-button-creation-feature">Create new feature</button>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    {{#if model.length}}
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <td class="col-md-1">
              <strong>Id</strong>
            </td>
            <td class="col-md-11">
              <strong>Name</strong>
            </td>
          </tr>
        </thead>
        <tbody>
          {{#each model as |feature|}}
            <tr>
              <td>
                {{feature.id}}
              </td>
              <td>
                {{#link-to "feature" feature.id class="test-linkto-feature"}}
                  <span class="test-feature-name">{{feature.name}}</span>
                {{/link-to}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <h3>No feature found !!</h3>
    {{/if}}
  </div>
</div>
