{{yield}}
<select class="form-control" onchange={{action (action 'updateStatus' featuretest) value="target.value"}}>
  {{#each statuses as |status|}}
    <option value={{status.id}} selected={{eq featuretest.status.id status.id}}>{{status.name}}</option>
  {{/each}}
</select>